
@font-face {
  font-family: 'Sansation-Bold';
  src: url('Sansation-Bold.eot?#iefix') format('embedded-opentype'),  url('Sansation-Bold.woff') format('woff'), url('Sansation-Bold.ttf')  format('truetype'), url('Sansation-Bold.svg#Sansation-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
